# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# production
.next
out

# misc
next-env.d.ts
*.local
.env*.local
.env
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# macOS
.DS_Store